
nav{
    display: flex;
    justify-content: space-between;
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 6vw, 5rem);
    align-items: center;
    position: sticky;
    transition: all .3s ease;
/* 
    position: sticky;   
    top: 0;     
    z-index: 1000; */
}
nav .left {
    display: flex;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    transition: all .3s linear;
    
}
nav .left .options {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}   
nav .left a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.2rem;
    margin-left: clamp(0.5rem, 2vw, 2rem);
    text-transform: uppercase;
    transition: all .3s ease;
}
nav .left a:hover{
    text-decoration: underline;
}
nav button {
    border: 2px solid transparent;
    background-color: var(--text);
    color: var(--bg);
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1rem;
    padding: .6rem 1.2rem
}
nav button:hover{
    border: 2px solid var(--text);
    color: var(--text);
    background-color:var(--bg);
}