@import "nav.css";
@import "hero.css";
@import "about.css";
@import "skills.css";
@import "project.css";
@import "contact.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg: #BDA6CE;
    --text: #301934;
    --dark-text: #2a162e;
    --last: #1f1022;    
}
body {
    /* background-color: var(--bg); */

    background: linear-gradient(to right, #8E6FA8, #BDA6CE, #DCCDEE);
    color: var(--text);
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 880px) {
    nav .left {
        display: block;
    }
    nav .left .options {
        margin: 0;
    }
    nav .left a {
        margin-left: 0;
        margin-right: 1.5rem;
        font-size: 1rem;
    }
    nav button {
        display: none;
    }
    .hero .pic {
        margin-left: 20px;
    };
    html {
        font-size: 12px;
    }
}
